<h1> Register</h1>
<hr>
<!-- <form id="register">
    <fieldset>
      
    <div class="form-group">
        <label for="exampleInputPassword1">name</label>
        <input class="form-control" id="exampleInputname" placeholder="enter the name" type="text"name="name"[(ngModel)]="name"require="require">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">email</label>
          <input class="form-control" id="exampleInputemail" placeholder="enter the email address" type="email"name="email"[(ngModel)]="email"require="require">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">password</label>
            <input class="form-control" id="exampleInputPassword1" placeholder=" enter the Password" type="password"name="password"[(ngModel)]="password"require="require">
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">re-password</label>
              <input class="form-control" id="exampleInputPassword2" placeholder="enter the re-password" type="password"name="repassword"[(ngModel)]="repassword"require="require">
            </div>
</fieldset> </form> -->

<section style="background:#efefe9;">
        <div class="container">
            <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <app-navbar></app-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
              <!-- Nested view  -->
              <app-personal></app-personal>
          </div>
          <!-- End Content Area -->
      </div>
        </div>
</section>
<!-- <button type="submit" class="btn btn-primary"(click)="onSignUpClick()">Sign On</button><br> -->
<!-- {{message}}  -->
<!-- <button type="personal" class="btn btn-primary" routerLink="/personal">next</button><br> -->

