<h1>
  ABOUT US </h1>
  <hr>
 
<div class="container" style="margin-top:2%;">
  <div class="row">
		   
		   
      <div class="col-md-6">
          <img class="img-responsive" src="../../assets/1.png" alt="About ROOMSOOM">
      </div>
  <div class="col-md-6">
    <p class="letter_spacing_1">													
    The company is born out of an idea to make house hunting easy for singles (includes bachelors & bachelorettes both) and families for whom it is not less than a nightmare to find a perfect abode in a good locality. 															
    </p>
    
    
    <p class="letter_spacing_1">													
    From searching the property to carrying out the necessary paper work to actual shifting, Roomsoom endeavors to take the pain out of finding the right property.															
    </p>

          
    
    <p class="letter_spacing_1">															
    Backed by almost 8 years of rich expertise of the ever-growing India&rsquo;s real estate sector.			
    </p>
    <p class="letter_spacing_1">													
    Roomsoom rides high on technology to make house hunting feasible for both boys, girls and families looking for independent rooms, apartments or fully furnished flats for study, job or for normal living.
                        
    </p>

          
    
   

    <p class="letter_spacing_1">	    
    Our professionals at Roomsoom leave no stone unturned to help you find and relocate to the new property without any hassle. From dedicated relationship managers to secure online payment, each and every aspect of your relocation would be a smooth ride with us that's guaranteed.
    </p>
   

          </div>
          </div>
        