<h1> Contact Us</h1>
<hr>
<div class="col-md-6">
  <form id="contactus">
      
    <fieldset>
      <div class="form-group">
        <label for="exampleInputFullName">Full Name</label>
        <input class="form-control" id="exampleInputFullName" aria-describedby="FullNameHelp" 
        placeholder="Enter Full Name " type="text"name="FullName"require="require"[(ngModel)]="FullName">
      </div>

      <div class="form-group">
          <label for="exampleInputPhoneNumber">Phone Number</label>
          <input class="form-control" id="exampleInputPhoneNumber" aria-describedby="PhoneNumberHelp" 
          placeholder="Enter Phone Number " type="text"name="PhoneNumber"require="require"[(ngModel)]="PhoneNumber">
      </div>
      
      <div class="form-group">
            <label for="exampleInputEmailAddress">Email Address</label>
            <input class="form-control" id="exampleInputEmailAddress" aria-describedby="EmailAddress" 
            placeholder="Enter Email Address" type="email"name="EmailAddress"require="require"[(ngModel)]="EmailAddress">
      </div>
      
      <div class="form-group">
              <label for="exampleInputQuery">Write a your query and complian </label>
              <input class="form-control" id="exampleInputQuery" aria-describedby="QueryHelp" 
              placeholder="Enter Query " type="text"name="Query"require="require"[(ngModel)]="Query">
      </div>
      
     </fieldset>
      <button type="submit" class="btn btn-primary"(click)="onSendclick()">Send</button>
    </form>
 
</div>

<div class="column" >
    <h3>Contact Details</h3>
    <p> Room For Rent Pvt. Ltd.<br></p>
    <p>A-91, Second Floor, Sector 4, Lucknow, U.P - 201301<br></p>
    <p><i class="fa fa-phone"></i> <abbr title="Phone"></abbr>: +91-88-1010-7070</p>
    <p><i class="fa fa-phone"></i> <abbr title="Phone"></abbr>: +91-7777-060-060</p>
    <p><i class="fa fa-envelope-o"></i> <abbr title="Email"></abbr>: <a href="mailto:info@roomsoom.com">info@roomsoom.com</a> </p>
    <ul class="list-unstyled list-inline list-social-icons">
        <li> <a href="https://www.facebook.com/RoomSoomIndia/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a> </li>
        <li> <a href="https://www.linkedin.com/company-beta/13216588/?pathWildcard=13216588" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> </li>
        <li> <a href="https://twitter.com/roomsoomindia" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a> </li>
        <li> <a href="https://plus.google.com/u/1/112794396704718796190" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a> </li>
        <li> <a href="https://www.youtube.com/channel/UCxirethkZ21mxm3-UlQ_ycQ" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a> </li>
    </ul>
</div>

<br>
<br>
<br>
<br>
<br>
<hr>

<h4>ABOUT PAYING GUEST</h4>
<p>The company is born out of an idea to make house hunting easy for singles(includes 
  bachelors & bachelorettes both) and families for whom it is not less than a nightmare 
  to find a perfect abode in a good locality. </p>

  <hr>

<div class="row" style="margin-top:2%;">
<div class="col-md-12">
<iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7007.086413696178!2d77.31869157382734!3d28.583476529748385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce457175bd67f%3A0xe15e16d1018e02ac!2sSector+4%2C+Noida%2C+Uttar+Pradesh+201301!5e0!3m2!1sen!2sin!4v1490357267761" allowfullscreen></iframe>
</div>
</div>
<hr>
